# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env
.venv
env/
venv/
ENV/

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs
*.log

# OS junk
.DS_Store
Thumbs.db

# IDE/editor
.vscode/
.idea/

# Tests / coverage
.coverage
htmlcov/

# Local audio/test artifacts
test_music/
minidlna/
wireshark_log.pcapng
